





















@import '//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css';
@import '//cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.2/css/themes/default.min.css';

.inline[data-v-fc49c29e] {
  display: inline
}

[contenteditable=true][data-v-fc49c29e] {
  border: 1px dashed #202020;
  background-color: rgba(255, 255, 255, 0.2);
}

.medium-editor-placeholder[data-v-fc49c29e]:after {
  margin: 0;
}

.hide[data-v-fc49c29e] {
  display: none;
}












/**
 *This ensures that span elements under the medium editor do not take up
 * an entire line. It cannot be a scoped style because the p tag inside
 * the medium editor does not have the same scope as the span
 */
span[contentEditable] p {
  display: inline;
}
































@import '//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css';
@import '//cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.2/css/themes/default.min.css';

span[data-v-5a21cb33] {
  display: inline-block;
  min-width: 8px;
}

.inline[data-v-5a21cb33] {
  display: inline
}

[contenteditable=true][data-v-5a21cb33] {
  border: 1px dashed #202020;
  background-color: rgba(255, 255, 255, 0.2);
}

.medium-editor-placeholder[data-v-5a21cb33]:after {
  margin: 0;
}

.hide[data-v-5a21cb33] {
  display: none;
}

.placeholder[data-v-5a21cb33] {
  background-color: #bdbdbd;
  color: #bdbdbd;
}





















/**
 *This ensures that span elements under the medium editor do not take up
 * an entire line. It cannot be a scoped style because the p tag inside
 * the medium editor does not have the same scope as the span
 */
span[contentEditable] p {
  display: inline;
}

.firecomponent--fire-image--container[data-v-138f7b76] {
  position: relative; }

.firecomponent--fire-image--edit-controller[data-v-138f7b76] {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding-right: 10px !important;
  padding-bottom: 10px !important; }
  .firecomponent--fire-image--edit-controller > *[data-v-138f7b76] {
    z-index: 2; }
  .firecomponent--fire-image--edit-controller > input[data-v-138f7b76] {
    display: none; }

.firecomponent--fire-image--display[data-v-138f7b76] {
  width: 100%;
  position: relative;
  display: block; }
  .firecomponent--fire-image--display > .firecomponent--fire-image--ratio-enforcer[data-v-138f7b76] {
    display: block;
    height: 0;
    width: 100%;
    padding-top: 100%; }
  .firecomponent--fire-image--display > .firecomponent--fire-image--content[data-v-138f7b76] {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }








































































































































.editor[data-v-df63bd98] {
  border: 1px dashed #202020 !important;
  font-size: 16px;
  font-weight: 400;
  display: inherit;
}

@import url("//cdnjs.cloudflare.com/ajax/libs/croppie/2.5.0/croppie.min.css");
.firecomponent--image-editor--container {
  background-color: white;
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll; }

.firecomponent--image-editor--header {
  color: black;
  text-align: center; }

.firecomponent--image-editor--croppie-wrapper {
  display: block;
  max-width: 100%;
  width: 100%; }
  .firecomponent--image-editor--croppie-wrapper > div {
    max-width: 100%; }

.firecomponent--image-editor--controls {
  display: block;
  width: 100%;
  text-align: center; }

.firecomponent--image-editor--vertical-aligner {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column; }

.firecomponent--image-editor--uploading-controls {
  text-align: center; }

.firecomponent--button {
  border-radius: 3px;
  text-transform: none;
  background-color: black;
  color: white;
  padding: 6px 10px;
  font-weight: bold;
  cursor: pointer; }


/*# sourceMappingURL=HTMLEditor.vue.map */
.firecomponent--inline-editor[data-v-8691ead4] {
  width: 100%;
  display: inline-block; }
  .firecomponent--inline-editor[data-v-8691ead4]:focus {
    outline: -webkit-focus-ring-color auto 5px; }

